name: Publish to NPM

on:
  push:
    branches:
      - master
      - main

env:
  NODE_VERSION: 22.15.1

jobs:
  publish-npm:
    name: Publish to NPM
    defaults:
      run:
        working-directory: ./backend
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup
        uses: ./.github/actions/backend-node-setup

      - name: Build the project
        run: npm run build

      - name: Publish the project
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
